<!DOCTYPE html>
<html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="\public\css\style.css">
    <title>TechService</title>
</head>
    <body>
        <header>
            <%- include('../partials/header'); %>
          </header>
        <div class="contents">
            <h2 style="font-family:Sofia, sans-serif; font-size:40px;padding-bottom:40px;color: #bf9e32;    ">ABOUT &nbsp;US</h2>
            <p>At TechService, we are passionate about harnessing the power of technology to drive innovation and help businesses thrive in the digital age. With a relentless commitment to excellence, we have become a trusted partner for companies looking to leverage cutting-edge solutions for their technological needs.
                </p>
                <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Our Story</h3>
                
                <p>Founded in 2023, TechService started as a small team of technology enthusiasts with a vision to make technology accessible and beneficial for businesses of all sizes. Over the years, we have grown into a dynamic organization with a diverse team of experts who share a common mission: to empower our clients with the tools they need to succeed in an increasingly competitive and fast-paced digital landscape.
                </p>
                <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Our Mission</h3>
                <p>
                Our mission is simple but powerful: to provide top-notch technology services and solutions that drive business growth, enhance productivity, and ensure our clients' technological success. We believe that by combining innovative thinking with cutting-edge technology, we can help businesses not just survive but thrive.</p>

                <h3>Why Choose Us</h3>

<p>► Expertise: Our team comprises experienced professionals who are experts in their respective fields. We stay at the forefront of technology trends and continuously update our skills to deliver the best solutions to our clients.
<br><br>
► Custom Solutions: We understand that every business is unique. That's why we take a personalized approach to each project, tailoring our services to meet the specific needs and goals of our clients.
<br><br>
► Customer-Centric Approach: Our clients are at the heart of everything we do. We maintain open communication, provide excellent support, and strive to exceed expectations at every turn.
<br><br>
► Innovation: Innovation is in our DNA. We embrace new technologies and techniques to ensure that our clients are always ahead of the curve.</p>

</p>

        </div>
        
    </body>

</html>