<!--<!DOCTYPE html>
<html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style">
    <title>TechService</title>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
  </header>
  <table>
    <thead>
        <tr>
    <th>UserName</th>
    <th>email</th>
    <th>password</th>
        </tr>
    </thead>
    <tbody>
        <%user.forEach(element => { %>
            <tr>
                <td> <%= element.nam %> </td>
                <td> <%= element.mail %> </td>
                <td> <%=element.pass %> </td>
            </tr>
        <%})%>
       
    </tbody>
  </table>
</body>
  </html>-->