<!DOCTYPE html>
<html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>TechService</title>
</head>
<body>
    <header>
        <%- include('../partials/homheader'); %>
      </header>
      <h1>User dashboard</h1>
      <h2>NAME: <%=user.nam%></h2>
      <h2>EMAIL: prasitha@gamil.com</h2> 
      <div class="cart" id="cart">
        <div class="title">CART</div><hr/>
        <div id="title"></div>
      </div>
</body>
</html>